side-effects-cache = false # or lefthook postinstall wouldn't be executed to install Git hooks

package-manager-strict-version=true
manage-package-manager-versions=true

node-version=22.19.0
use-node-version=22.19.0
